:root {
    --royal-blue-dark: #0a285fff;
    --french-blue: #0075beff;
    --goldenrod: #d5a100ff;
    --sunglow: #ffcc00ff;
    --white: #ffffffff;    
}

/* Coolors Exported Palette - https://coolors.co/0a285f-0075be-d5a100-ffcc00-ffffff
​
