:root {
    --royal-blue-dark: #0a285fff;
    --french-blue: #0075beff;
    --goldenrod: #d5a100ff;
    --sunglow: #ffcc00ff;
    --white: #ffffffff;    
    --header-font: 'Press Start 2P', cursive;
    --content-font: 'Ubuntu', sans-serif;
}
/* Coolors Exported Palette - https://coolors.co/0a285f-0075be-d5a100-ffcc00-ffffff */


body {
    background-color: var(--white);
}

/* CONTENT */

h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
    color: black;
}

p {
    font-family: var(--content-font);
    color: black;
}

/* NAV */

.navbar-item {
    color: var(--white);
    font-family: var(--header-font);
}

a.navbar-item:hover, a.navbar-item.is-active {
    color: var(--goldenrod);
    font-family: var(--header-font);
}

.footer, .navbar {
    background-color: var(--royal-blue-dark);
}

a.button.is-primary {
    background-color: var(--royal-blue-dark);
    font-family: var(--content-font);
    color: var(--white);
    border-bottom: var(--white) double;
    border-right: var(--white) double;
}

a.button.is-primary:hover, a.button.is-primary.is-active {
    background-color: var(--royal-blue-dark);
    font-family: var(--content-font);
    color: var(--goldenrod);
    border-bottom: var(--goldenrod) double;
    border-right: var(--goldenrod) double;
}




/* FOOTER */

footer p {
font-family: var(--content-font);
color: var(--white);
}

.footer-yellow {
    color: var(--sunglow);
}
